<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <title>Comparison Selection Screen</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-info ps-5 pe-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NHL Stats</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teams">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/standings">Standings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/awards">Awards</a>
      </li>
    </ul>
  </div>
</nav>

<body class="bg-dark text-white">
 
    <!-- <div id="cards">
        <ul th:each="player : ${favouritePlayers}">
            <li th:text="${player}"></li>
        </ul> -->
    <!-- </div> -->

    <select id="myID1" class="form-select col text-center" style="margin-top: 50px; width: 20%; margin-left: 25px; text-align:center">
      <option class="temp" th:each="player : ${favouritePlayers}" th:text="${player}" th:value="${player}">
      </option>
    </select>

    <select id="myID2" class="form-select col text-center" style="margin-top: 50px; width: 20%; margin-left: 25px; text-align:center">
      <option class="temp" th:each="player : ${favouritePlayers}" th:text="${player}" th:value="${player}">
      </option>
    </select>



    <input onclick="showGraphs()" type="submit" id="narutouzumaki" class="btn btn-primary" value="compare these two!" style="margin-top: 25px; margin-left: 25px">

   
    <div class="card-body">
      <canvas id="chBar"></canvas>
    </div>
    
    
    

    <script>
      var favPlayers = document.getElementsByClassName("temp");
      console.log(favPlayers[0].innerHTML);
      var name1;
      var name2;
      for(let k = 0;k<favPlayers.length;k++){
        $.getJSON("https://statsapi.web.nhl.com/api/v1/people/"+favPlayers[k].innerHTML, function(data) {
          console.log(favPlayers[k]);
          favPlayers[k].innerHTML = data.people[0].fullName;
        });
      }

      function showGraphs() {
        var player1data = [];
        var player2data = [];
        $.getJSON("https://statsapi.web.nhl.com/api/v1/people/"+(document.getElementById("myID1")).value, function(data) {
          name1 = data.people[0].fullName;
        });
        $.getJSON("https://statsapi.web.nhl.com/api/v1/people/"+(document.getElementById("myID2")).value, function(data) {
          name2 = data.people[0].fullName;
        });
      
        $.getJSON("https://statsapi.web.nhl.com/api/v1/people/"+(document.getElementById("myID1")).value+"/stats?stats=statsSingleSeason&season=20202021", function(data) {
          let stat1 = data.stats[0].splits[0].stat;
          player1data.push(stat1.assists);
          player1data.push(stat1.goals);
          player1data.push(stat1.pim);
          player1data.push(stat1.shots);
          player1data.push(stat1.games);
          player1data.push(stat1.powerPlayGoals);
          player1data.push(stat1.powerPlayPoints);
          player1data.push(stat1.penaltyMinutes);
          player1data.push(stat1.shotPct);
          player1data.push(stat1.gameWinningGoals);
          player1data.push(stat1.overTimeGoals);
          player1data.push(stat1.shortHandedGoals);
          player1data.push(stat1.shortHandedPoints);
          player1data.push(stat1.plusMinus);
          player1data.push(stat1.points);
        });

        $.getJSON("https://statsapi.web.nhl.com/api/v1/people/"+(document.getElementById("myID2")).value+"/stats?stats=statsSingleSeason&season=20202021", function(data) {
          let stat2 = data.stats[0].splits[0].stat;
          player2data.push(stat2.assists);
          player2data.push(stat2.goals);
          player2data.push(stat2.pim);
          player2data.push(stat2.shots);
          player2data.push(stat2.games);
          player2data.push(stat2.powerPlayGoals);
          player2data.push(stat2.powerPlayPoints);
          player2data.push(stat2.penaltyMinutes);
          player2data.push(stat2.shotPct);
          player2data.push(stat2.gameWinningGoals);
          player2data.push(stat2.overTimeGoals);
          player2data.push(stat2.shortHandedGoals);
          player2data.push(stat2.shortHandedPoints);
          player2data.push(stat2.plusMinus);
          player2data.push(stat2.points);
        });

        var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];
        var chBar = document.getElementById("chBar");
        $.getJSON("https://statsapi.web.nhl.com/api/v1/teams", function(data) {
          if (chBar) {
            new Chart(chBar, {
            type: 'bar',
            data: {
            labels: ["assists", "goals", "pim", "shots", "games", "powerPlayGoals", "powerPlayPoints", "penaltyMinutes", "shotPct", "gameWinningGoals", "overTimeGoals", "shortHandedGoals", "shortHandedPoints", "plusMinus", "points"],
            datasets: [{
                label: name1,
                data: player1data,
                backgroundColor: colors[0]
            },
            {
                label: name2,
                data: player2data,
                backgroundColor: colors[1]
            }]
            },
            options: {
            legend: {
                display: true,
                labels: {
                  fontColor: "white"
                }
            },
            scales: {
                xAxes: [{
                barPercentage: 0.4,
                categoryPercentage: 0.5,
                ticks: {
                  fontColor: "white"
                }
                }]
            }
            }
            });
        }
        });
      }
    </script>
    

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>