<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Landing Page</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-info ps-5 pe-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teams">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Standings</a>
      </li>
    </ul>
    <form class="d-flex justify-content-end">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</nav>




<body class="bg-dark text-white">

  <h1 class="text-center"> North Division </h1>
  <div class="card-group">
    <div class="card">
      <img src="./LOGOS/leafs.png" style="width: 37%; height: auto; " class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <a th:href="/teaminfo/{pid}"> 
        <h5 class="card-title text-center" style="color:black;">Toronto Maple Leafs</h5>
      </a> 
        
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\oilers.png" style="width: 35%; height: auto; margin-top: 10px" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Edmonton Oilers</h5>
        
        
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\winnipeg.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Winnipeg Jets</h5>
        
        
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="LOGOS\montreal.png" style="width: 40%; height: auto; margin-top: 20px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Montreal Canadiens</h5>
       
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\calgary.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Calgary Flames</h5>
        
      </div>
    </div>
    <div class="card">
      <img src="LOGOS/ottawa.png" style="width: 37%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Ottawa Senators</h5>
        
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="LOGOS\vancouver.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Vancouver Canucks</h5>
       
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        
        
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
       
        
      </div>
    </div>
  </div>







  <h1 class="text-center"> West Division </h1>

  <div class="card-group">
    <div class="card">
      <img src="LOGOS\avs.png" style="width: 39%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Colorado Avalanche</h5>
       
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\golden knights.png" style="width: 31%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Vegas Golden Knights</h5>
        
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\wild.png" style="width: 50%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Minnesota Wild</h5>
        
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="/LOGOS/blues.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">St Louis Blues</h5>
       
      </div>
    </div>
    <div class="card">
      <img src=".\LOGOS\ariz.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Arizona Coyotes</h5>
        
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\kings.png" style="width: 30%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Los Angeles Kings</h5>
        
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="LOGOS\san jose.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">San Jose Sharks</h5>
       
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\ducks.png" style="width: 43%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Anaheim Ducks</h5>
        
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        
        
      </div>
    </div>
  </div>




  <h1 class="text-center"> Central Division </h1>

  <div class="card-group">
    <div class="card">
      <img src="LOGOS\canes.png" style="width: 40%; height: auto; margin-top: 30px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Carolina Hurricanes</h5>
       
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\panthers.png" style="width: 28%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Florida Panthers</h5>
        
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\light.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Tampa Bay Lightning</h5>
        
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="LOGOS\preds.png" style="width: 40%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Nashville Predators</h5>
       
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\stars.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Dallas Stars</h5>
        
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\hawks.png" style="width: 30%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Chicago Blackhawks</h5>
        
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="LOGOS\wings.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Detroit Red Wings</h5>
       
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\jacket.png" style="width: 37%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Columbus Blue Jackets</h5>
        
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        
        
      </div>
    </div>
  </div>


  <h1 class="text-center"> East Division </h1>

  <div class="card-group">
    <div class="card">
      <img src="LOGOS\penguin.png" style="width: 35%; height: auto; margin-top: 30px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Pittsburgh Penguins</h5>
       
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\caps.png" style="width: 40%; height: auto; margin-top: 30px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Washington Capitals</h5>
        
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\bruins.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Boston Bruins</h5>
        
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="LOGOS\isles.png" style="width: 40%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">New York Islanders</h5>
       
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\rangers.png" style="width: 35%; height: auto; margin-top: 20px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">New York Rangers</h5>
        
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\fly.png" style="width: 40%; height: auto; margin-top: 20px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Philadelphia Flyers</h5>
        
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <img src="LOGOS\devils.png" style="width: 35%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">New Jersey Devils</h5>
       
      </div>
    </div>
    <div class="card">
      <img src="LOGOS\buff.png" style="width: 37%; height: auto; margin-top: 10px;" class="card-img-top rounded mx-auto d-block">
      <div class="card-body">
        <h5 class="card-title text-center" style="color:black;">Buffalo Sabres</h5>
        
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        
        
      </div>
    </div>
  </div>











  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>